@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


body {
    background: #FFFAF0;
    font-family: 'Roboto Slab', serif;
}

.paretos-content {
    position: relative;
    padding: 15px;
}


.paretos-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-top: 5px;
}