{% extends 'base.html' %} {% load static %}

{% block content %}

{% if username %}
<div class='paretos-ribbon'>
    {{username}}
</div>
{% endif %}

{% if username %}
Hallo, {{username}}. Schön, dass du das bist.
<a href="{% url 'logout_user' %}">Logout</a>
<a href="{% url 'test' %}">Test</a>
{% else %}

<h1>Willkommen bei paretos.ch</h1>

{% if members_number > 0 %}
Wie haben bereits {{members_number}} Mietglieder.
{% endif %}

<br>
<a href="{% url 'login_user' %}">Anmelden</a>

<br>
<a href="{% url 'register_user' %}">Registrieren</a>

{% endif %}
{% endblock %}